---
import BaseLayout from '../layouts/BaseLayout.astro';

import { getCollection } from 'astro:content';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await getCollection('posts');

const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<ul>
		{allPosts.map((post) => <BlogPost url={post.slug} title={post.data.title} />)}
	  </ul>
</BaseLayout>
