---
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";

const { year } = Astro.props;
const posts = await getCollection("posts", ({data}) => data.postDate.getFullYear() === year);
---
<h2>{year}</h2>
{posts.map((p) =>
    <BlogPost url={p.slug} title={p.data.title} /></span>  
)}